@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

* {
 font-family: "メイリオ", "ヒラギノ角ゴ", "Noto Sans Japanese", "游ゴシック", "MS ゴシック", sans-serif;
 font-weight: lighter;
 color: #FFFFFF;
}

html {
 min-height: 100%;
 position: relative;
}

body {
 padding: 20px;
 min-height: 100%;
 margin-bottom: 5em;
}

.body_index {
 background-size: cover;
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-image: url("../image/back.png");
 background-blend-mode: screen;
}

p {
 padding: 5px 40px;
 font-size: 16px;
}

small {
 padding: 5px 40px;
}

h1 {
 font-weight: bold;
 padding: 20px;
}

h2 {
 font-size: 22px;
 font-weight: bold;
 background-color: #333333;
 margin: 25px 8px 5px;
 padding: 8px;
 padding-left: 25px;
 letter-spacing: 3px;
 opacity: 0.9;
}

.logul{
 text-decoration: none;
 list-style-type: none;
}

.logul li{
 line-height: 20px;
}

footer {
 bottom: 0;
 height: 32px;
 position: absolute;
}

.subday {
 text-align: right;
}
